body {
  padding: 50px 30px 30px 30px;
}
h1, h2, p, a {
  font-family: 'PT Sans', Helvetica;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: grey;
}
p {
  font-size: 1.3em;
  line-height: 30px;
}
a {
  font-size: 1.2em;
}
header {
  overflow: auto;
}
#profile-picture {
  width: 200px;
  background: url("/static/img/me.jpg");
  background-size: 200px;
  border-radius: 100px;
  float: left;
}
#title {
  width: calc(100% - 220px);
  float: right;
  box-sizing: border-box;
}
@media only screen and (max-width: 850px) {
  body {
    text-align: center;
  }
  header {
    width: 100%;
  }
  #profile-picture, #title {
  }
  #profile-picture {
    float: none;
    margin: 0 auto;
    height: 200px;
  }
  #title {
    width: 100%;
  }
}
@media only screen and (min-width: 851px) {
  header, #content-body, footer {
    width: 850px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  footer {
    text-align: center;
  }
  #title {
    padding-top: 30px;
  }
  #profile-picture, #title {
    height: 200px;
  }
}
