<!doctype html>

<html lang="en">

<head>

  <meta charset="utf-8">

  <title>{{.FirstName}} {{.LastName}}</title>
  <meta name="description" content="The public profile of {{.FirstName}} {{.LastName}}.">
  <meta name="author" content="Chris Mepham">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="stylesheet" href="static/css/normalize.css">

</head>

<body>

  <header>
    <div id="profile-picture"></div>
    <div id="title">
      <h1>{{.FirstName}} {{.LastName}}</h1>
      <h2>{{.JobTitle}}</h2>
    </div>
  </header>

  <div id="content-body">
    <p>{{.ShortBiography}}</p>
    <p><img src="static/img/email.png" alt="Mobile phonenumber" class="icon"/> {{.PersonalMobile}}</p>
    <p><img src="static/img/phone.png" alt="Email" class="icon"/> {{.PersonalEmail}}</p>
  </div>

  <footer>
    {{range $i, $el := .Links}}
      {{if $i}}•{{end}} <a href="{{$el.URI}}">{{$el.Title}}</a>
    {{end}}
  </footer>

</body>

</html>
