<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Chris Mepham</title>
  <meta name="description" content="The public profile of Christopher Mepham.">
  <meta name="author" content="Chris Mepham">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="stylesheet" href="static/css/normalize.css">

</head>

<body>
  <header>
    <div id="profile-picture"></div>
    <div id="title">
      <h1>{{.FirstName}} {{.LastName}}</h1>
      <h2>{{.JobTitle}}</h2>
    </div>
  </header>

  <div id="content-body">
    <p>{{.ShortBiography}}</p>
    <p>{{.PersonalEmail}}</p>
    <p>{{.PersonalMobile}}</p>
  </div>

  <footer>
    <a href="https://github.com/final60">Github</a> •
			<a href="https://www.linkedin.com/in/crmepham">LinkedIn</a> •
			<a href="http://stackoverflow.com/users/888990/crm">Stack Overflow</a> •
			<a href="http://chrismepham.co.uk/blog/">Blog</a> •
			<a href="https://185.2.102.220:3001/login.htm">Login</a>
  </footer>

  <script src="static/js/scripts.js"></script>
</body>
</html>
